/* ======Common styles===== */
h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
    }
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}
a {text-decoration: none;}
button {cursor: pointer;}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    
}
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;        
}
}
    

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1440px;
        padding-left: 15px;
        padding-right: 15px;
        }
}
    /* ======/Common styles===== */

/* ======Page header styles===== */
.menu, .contact-block {
    display: none;
}

@media only screen and (min-width: 768px) {
    .menu {
        display: flex;
        gap: 40px;
}
.contact-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
}

@media only screen and (min-width: 1158px) {
    .contact-list {
        display: flex;
        gap: 40px;
    }
}


.display-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
}
@media only screen and (min-width: 768px) {
    .page-header {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media only screen and (min-width: 768px) {
        .menu-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;}
}
.page-navigation {
    display: flex;
    align-items: center;
}
    .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0;
    fill: #2F2F37;

}
@media only screen and (min-width: 768px) {
    .mobile-menu-open-btn {
        display: none;
    }
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 149px;
}
.color-black {
    color: #2e2f42;
}


@media only screen and (min-width: 768px) {
    .logo {
    margin-right: 120px;
    }
    }
@media only screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
}

@media only screen and (min-width: 768px) {
    .menu-link-heder {
        position: relative;
       color: #404bbf; 
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 
    .menu-link-heder::after {
        display: block;
        content: "";
        border-radius: 2px;
        width: 48px;
        height: 4px;
        background: #404bbf;
        position: absolute;
        left: 0;
        bottom: -1px;
        }
        .menu-link:hover,
        .menu-link:focus {color:#404bbf;}

.contact-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
.contact-list-link:hover,
.contact-list-link:focus
{
    color: #404bbf;
}
}
/* ======/Page header styles===== */




/* ========= Mobile-menu styles======= */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
}
.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0;
    fill: #000000;
}
.mobile-menu-container {
    position: relative;
    }
.mobile-menu-nav {
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    padding-right: 153px;
    padding-bottom: 168px;
    }
 .mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
 }
.mobile-menu-contact-item:not(:last-child) {
    padding-bottom: 24px;
}
    

.mobile-menu-nav-list-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    /* padding-bottom: 40px; */
    color: #404bbf; 
        }

.mobile-menu-nav-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.mobile-menu-contact {
    display: flex;
    justify-content: flex-start;
    
}

.mobile-menu-contact-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5;
}
.mobile-menu-tel-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.social-mobile-menu {
    display: flex;
    margin-top: 48px;
    margin-bottom: 40px;
   }

.social-mobile-menu-list {
    display: flex;
    gap: 40px;
   }
.mobile-menu-close-icon {

}
.social-list-link-mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    fill: #fff;
}
/* ========= /Mobile-menu styles======= */
